<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.FiedMapper">

    <select id="getByPage" resultType="com.example.demo.entity.Fied">

        SELECT
        t.Id,
        t.head_line,
        t.telephone,
        t.msgCode,
        t.user_qq,
        t.user_wx,
        t.phone,
        t.link,
        t.createDate,
        t.company_name,
        t.procode,
        t.citycode,
        t.countycode,
        t.video_url,
        t.details,
        t.address,
        t.`status`,
        t.del,
        t.type,
        t.fw,
        t.service,
        t.price
        FROM
        fied t
        where 1=1
        <!--<if test="context != null">-->
        <!--and t.head_line like "%"#{context}"%",-->
        <!--or t.phone  like "%"#{context}"%",-->
        <!--or t.link  like "%"#{context}"%",-->
        <!--or t.link  like "%"#{context}"%",-->
        <!--or t.company_name  like "%"#{context}"%",-->
        <!--or t.address  like "%"#{context}"%"-->
        <!--</if>-->

        LIMIT #{currentPage},#{pageSize}
        ORDER BY
        fied.createDate
        DESC

    </select>

    <select id="getVoList" resultType="com.example.demo.vo.FiedVo">
        SELECT
        fied.Id,
        fied.head_line,
        fied.user_qq,
        fied.user_wx,
        fied.phone,
        fied.link,
        fied.createDate,
        fied.company_name,
        fied.procode,
        fied.citycode,
        fied.countycode,
        fied.details,
        fied.address,
        fied.type,
        fied.fw,
        fied.service,
        fied.msgCode,
        SUBSTRING(file.path,33) as path,
        fied.price,
        file.type as f_type
        FROM
        fied
        INNER JOIN
        file
        ON
        fied.msgCode = file.msgCode
        WHERE
        1 = 1
        <if test="type != null">
            AND
            fied.type = #{type}
        </if>
        AND
        file.type = 'G'
        GROUP BY
        fied.msgCode
        ORDER BY
        fied.createDate
        DESC
    </select>

    <select id="getInfoVo" resultType="com.example.demo.vo.FiedVo">
        SELECT
        fied.Id,
        fied.head_line,
        fied.user_qq,
        fied.user_wx,
        fied.phone,
        fied.link,
        fied.createDate,
        fied.company_name,
        fied.procode,
        fied.citycode,
        fied.countycode,
        fied.details,
        fied.address,
        fied.type,
        fied.fw,
        fied.service,
        fied.userId,
        SUBSTRING(file.path,33) as path,
        fied.price,
        file.type as f_type
        FROM
        fied
        INNER JOIN
        file
        ON
        fied.userId = file.userId
        WHERE
        1 = 1
        <if test="id != null">
            AND fied.id = #{id}
        </if>

        AND
        file.type = 'G'
        GROUP BY
        fied.msgCode

    </select>
    <select id="getPageVos" resultType="com.example.demo.vo.FiedVo">
        SELECT
        fied.Id,
        fied.head_line,
        fied.user_qq,
        fied.user_wx,
        fied.phone,
        fied.link,
        fied.createDate,
        fied.company_name,
        fied.procode,
        fied.citycode,
        fied.countycode,
        fied.details,
        fied.address,
        fied.type,
        fied.fw,
        fied.service,
        fied.userId,
        SUBSTRING(file.path,33) as path,
        fied.price,
        file.type as f_type
        FROM
        fied
        INNER JOIN
        file
        ON
        fied.userId = file.userId
        WHERE
        1 = 1
        <if test="procode != null">
            AND fied.procode = #{procode}
        </if>

        <if test="citycode != null">
            AND fied.citycode = #{citycode}
        </if>

        <if test="countycode != null">
            AND fied.countycode = #{countycode}
        </if>

        <if test="type != null">
            AND fied.type = #{type}
        </if>

        <if test="fw != null">
            AND fied.service like "%"#{fw}"%"
        </if>

        AND
        file.type = 'G'
        GROUP BY
        fied.msgCode
    </select>
    <select id="getPageAll" resultType="com.example.demo.vo.FiedVo">
        SELECT
        fied.Id,
        fied.head_line,
        fied.user_qq,
        fied.user_wx,
        fied.phone,
        fied.link,
        fied.createDate,
        fied.company_name,
        fied.procode,
        fied.citycode,
        fied.countycode,
        fied.details,
        fied.address,
        fied.type,
        fied.fw,
        fied.service,
        fied.userId,
        SUBSTRING(file.path,33) as path,
        fied.price,
        file.type as f_type
        FROM
        fied
        INNER JOIN
        file
        ON
        fied.userId = file.userId
        WHERE
        1 = 1
        <if test="val != null">
            AND
            (      fied.head_line like "%"#{val}"%"
                or fied.user_qq like "%"#{val}"%"
                or fied.user_wx like "%"#{val}"%"
                or fied.phone like "%"#{val}"%"
                or fied.link like "%"#{val}"%"
                or fied.company_name like "%"#{val}"%"
                or fied.details like "%"#{val}"%"
                or fied.address like "%"#{val}"%"
                or fied.type like "%"#{val}"%"
                or fied.fw like "%"#{val}"%"
                or fied.fw like "%"#{val}"%"
            )
        </if>
        AND
        file.type = 'G'
        GROUP BY
        fied.msgCode
    </select>


</mapper>
