<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.RentMapper">
    <select id="getByPage" resultType="com.example.demo.entity.Rent">

    </select>
    <select id="getInfo" resultType="com.example.demo.vo.RentVo">
        SELECT
        rent.Id,
        rent.head_line,
        rent.telephone,
        rent.msgCode,
        rent.user_qq,
        rent.user_wx,
        rent.phone,
        rent.link,
        rent.createDate,
        rent.company_name,
        (SELECT i.`name` FROM tb_china i WHERE i.id = procode) AS procode,
        (SELECT i.`name` FROM tb_china i WHERE i.id = citycode) AS citycode,
        (SELECT i.`name` FROM tb_china i WHERE i.id = countycode) AS countycode,
        rent.video_url,
        rent.details,
        rent.address,
        rent.`status`,
        rent.del,
        rent.facility,
        rent.transfer,
        rent.pay,
        rent.userId,
        rent.price,
        rent.area,
        rent.haveOther,
        rent.nature,
        rent.isExit,
        rent.type,
        file.path
        FROM
        rent
        INNER JOIN
        file
        ON
        rent.msgCode = file.msgCode
        WHERE
        1 = 1
        <if test="id != null">
            AND rent.id = #{id}
        </if>
        AND
        file.type = 'G'
        GROUP BY
        rent.msgCode
    </select>
    <select id="getRentInfoVos" resultType="com.example.demo.vo.RentVo">
        SELECT
        rent.Id,
        rent.head_line,
        rent.telephone,
        rent.msgCode,
        rent.user_qq,
        rent.user_wx,
        rent.phone,
        rent.link,
        rent.createDate,
        rent.company_name,
        (SELECT i.`name` FROM tb_china i WHERE i.id = procode) AS procode,
        (SELECT i.`name` FROM tb_china i WHERE i.id = citycode) AS citycode,
        (SELECT i.`name` FROM tb_china i WHERE i.id = countycode) AS countycode,
        rent.video_url,
        rent.details,
        rent.address,
        rent.`status`,
        rent.del,
        rent.facility,
        rent.transfer,
        rent.pay,
        rent.userId,
        rent.price,
        rent.area,
        rent.haveOther,
        rent.nature,
        rent.isExit,
        rent.type,
        file.path
        FROM
        rent
        INNER JOIN
        file
        ON
        rent.msgCode = file.msgCode
        WHERE
        1 = 1
        <if test="type != null">
            AND
            rent.type = #{type}
        </if>
        AND
        file.type = 'G'
        GROUP BY
        rent.msgCode
        ORDER BY
        rent.createDate
        DESC
    </select>
</mapper>
