<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mk.MkListingMapper">

    <select id="getByPage" resultType="java.util.Map">
        SELECT
        t.`id` AS `aid`,
        t.`proCode` AS `proCode`,
        t.`cityCode` AS `cityCode`,
        t.`comName` AS `comName`,
        t.`addrName` AS `addrName`,
        t.`dong` AS `dong`,
        t.`floors` AS `floors`,
        t.`floorSum` AS `floorSum`,
        t.`roomNo` AS `roomNo`,
        t.`creatDate` AS `creatDate`,
        t.`unit` AS `unit`,
        t.`areaCode` AS `areaCode`,
        t.`id` AS `id`,
        t.`unitType` AS `unitType`,
        t.`userId` AS `userId`,
        t.`createDate` AS `createDate`,
        t.`fidentity` AS `fidentity`,
        t.`remark` AS `remark`,
        t.`fileId` AS `fileId`,
        t.`area` AS `area`,
        t.`leaseType` AS `leaseType`,
        t.`labels` AS `labels`,
        t.`decoration` AS `decoration`,
        t.`towards` AS `towards`,
        t.`supporting` AS `supporting`,
        t.`features` AS `features`,
        t.`expectations` AS `expectations`,
        t.`apartmentId` AS `apartmentId`,
        t.`rentalId` AS `rentalId`,
        t.`addrId` AS `addrId`,
        t.`yPay` AS `yPay`,
        t.`jPay` AS `jPay`,
        t.`bPay` AS `bPay`,
        t.`nPay` AS `nPay`,
        t.`fstatus` AS `fstatus`,
        t.`del` AS `del`,
        t.`jstatus` AS `jstatus`,
        t.`tstatus` AS `tstatus`,
        t.`sortNo` AS `sortNo`,
        t.`id` AS `rid`,
        t.`zAmount` AS `zAmount`,
        t.`yAmount` AS `yAmount`,
        t.`sdAmount` AS `sdAmount`,
        t.`wxAmount` AS `wxAmount`,
        t.`kdCosts` AS `kdCosts`,
        t.`dCosts` AS `dCosts`,
        t.`sCosts` AS `sCosts`,
        t.`wyCosts` AS `wyCosts`,
        t.`tcCosts` AS `tcCosts`,
        t.`rqCosts` AS `rqCosts`,
        t.`firstAmount` AS `firstAmount`,
        t.`fAmount` AS `fAmount`,
        t.`creartDate` AS `creartDate`,
        t.`deposit` AS `deposit`,
        t.`otherDeposit` AS `otherDeposit`,
        t.`payTime` AS `payTime`,
        t.`depositMethod` AS `depositMethod`,
        t.`payDay` AS `payDay`,
        t.`longType` AS `longType`,
        t.`x` as `x`,
        t.`y` as `y`,
        t.`areaName` as areaName,
        t.`otheryjId` as otheryjId,
        t.`otherfyId` as otherfyId,
        t.`bountyId` as bountyId
        FROM
        v_list_rent_addr t
        WHERE 1= 1

        <if test="leaseType != null">
            AND t.leaseType = #{leaseType}
        </if>

        <if test="areaCode != null">
            AND t.areaCode = #{areaCode}
        </if>

        <if test="maxPrice != null">
            AND t.zAmount &lt;= #{maxPrice}
        </if>

        <if test="minPrice != null">
            AND t.zAmount &gt;= #{minPrice}
        </if>

        <if test="unitType != null">
            AND t.unitType like concat('%',#{unitType},'%')
        </if>

        <if test="longType != null">
            AND t.longType like concat('%',#{longType},'%')
        </if>

        <if test="val != null">
            AND
            (
            t.unitType like concat('%',#{val},'%')
            or
            t.addrName like concat('%',#{val},'%')
            or
            t.comName like concat('%',#{val},'%')
            or
            t.areaName like concat('%',#{val},'%')
            )
        </if>

        <if test="maxArea != null">
            AND t.area &lt;= #{maxArea}
        </if>

        <if test="minArea != null">
            AND t.area &gt;= #{minArea}
        </if>

        <if test="fidentity != null">
            AND t.fidentity = #{fidentity}
        </if>

        <if test="apartmentId != null">
            AND t.apartmentId = #{apartmentId}
        </if>

        <if test="decoration != null">
            AND t.decoration = #{decoration}
        </if>

        <if test="jstatus != null">
            AND t.jstatus = #{jstatus}
        </if>

        <if test="tstatus != null">
            AND t.tstatus = #{tstatus}
        </if>

        <if test="cityCode != null">
            AND t.cityCode = #{cityCode}
        </if>

        <if test="comName != null">
            AND t.comName = #{comName}
        </if>

        <if test="fid != null">
            AND t.id = #{fid}
        </if>

        <if test="userId != null">
            AND t.userId = #{userId}
        </if>

        ORDER BY t.sortNo, t.createDate desc

        LIMIT #{limit}, #{row}

    </select>


    <select id="getInfo" resultType="java.util.Map">
        SELECT
        t.`id` AS `aid`,
        t.`proCode` AS `proCode`,
        t.`cityCode` AS `cityCode`,
        t.`comName` AS `comName`,
        t.`addrName` AS `addrName`,
        t.`dong` AS `dong`,
        t.`floors` AS `floors`,
        t.`floorSum` AS `floorSum`,
        t.`roomNo` AS `roomNo`,
        t.`creatDate` AS `creatDate`,
        t.`unit` AS `unit`,
        t.`areaCode` AS `areaCode`,
        t.`id` AS `id`,
        t.`unitType` AS `unitType`,
        t.`userId` AS `userId`,
        t.`createDate` AS `createDate`,
        t.`fidentity` AS `fidentity`,
        t.`remark` AS `remark`,
        t.`fileId` AS `fileId`,
        t.`area` AS `area`,
        t.`leaseType` AS `leaseType`,
        t.`labels` AS `labels`,
        t.`decoration` AS `decoration`,
        t.`towards` AS `towards`,
        t.`supporting` AS `supporting`,
        t.`features` AS `features`,
        t.`expectations` AS `expectations`,
        t.`apartmentId` AS `apartmentId`,
        t.`rentalId` AS `rentalId`,
        t.`addrId` AS `addrId`,
        t.`yPay` AS `yPay`,
        t.`jPay` AS `jPay`,
        t.`bPay` AS `bPay`,
        t.`nPay` AS `nPay`,
        t.`fstatus` AS `fstatus`,
        t.`del` AS `del`,
        t.`jstatus` AS `jstatus`,
        t.`tstatus` AS `tstatus`,
        t.`sortNo` AS `sortNo`,
        t.`id` AS `rid`,
        t.`zAmount` AS `zAmount`,
        t.`yAmount` AS `yAmount`,
        t.`sdAmount` AS `sdAmount`,
        t.`wxAmount` AS `wxAmount`,
        t.`kdCosts` AS `kdCosts`,
        t.`dCosts` AS `dCosts`,
        t.`sCosts` AS `sCosts`,
        t.`wyCosts` AS `wyCosts`,
        t.`tcCosts` AS `tcCosts`,
        t.`rqCosts` AS `rqCosts`,
        t.`firstAmount` AS `firstAmount`,
        t.`fAmount` AS `fAmount`,
        t.`creartDate` AS `creartDate`,
        t.`deposit` AS `deposit`,
        t.`otherDeposit` AS `otherDeposit`,
        t.`payTime` AS `payTime`,
        t.`depositMethod` AS `depositMethod`,
        t.`payDay` AS `payDay`,
        t.`longType` AS `longType`,
        t.`x` as `x`,
        t.`y` as `y`,
        t.`areaName` as areaName,
        t.`otheryjId` as otheryjId,
        t.`otherfyId` as otherfyId,
        t.`bountyId` as bountyId
        FROM
        v_list_rent_addr t
        WHERE 1= 1
        AND t.id = #{fid}
    </select>
    <select id="getByPage2" resultType="java.util.Map">
        select
        t.`id` AS `aid`,
        t.`proCode` AS `proCode`,
        t.`cityCode` AS `cityCode`,
        t.`comName` AS `comName`,
        t.`addrName` AS `addrName`,
        t.`dong` AS `dong`,
        t.`floors` AS `floors`,
        t.`floorSum` AS `floorSum`,
        t.`roomNo` AS `roomNo`,
        t.`creatDate` AS `creatDate`,
        t.`unit` AS `unit`,
        t.`areaCode` AS `areaCode`,
        t.`id` AS `id`,
        t.`unitType` AS `unitType`,
        t.`userId` AS `userId`,
        t.`createDate` AS `createDate`,
        t.`fidentity` AS `fidentity`,
        t.`remark` AS `remark`,
        t.`fileId` AS `fileId`,
        t.`area` AS `area`,
        t.`leaseType` AS `leaseType`,
        t.`labels` AS `labels`,
        t.`decoration` AS `decoration`,
        t.`towards` AS `towards`,
        t.`supporting` AS `supporting`,
        t.`features` AS `features`,
        t.`expectations` AS `expectations`,
        t.`apartmentId` AS `apartmentId`,
        t.`rentalId` AS `rentalId`,
        t.`addrId` AS `addrId`,
        t.`yPay` AS `yPay`,
        t.`jPay` AS `jPay`,
        t.`bPay` AS `bPay`,
        t.`nPay` AS `nPay`,
        t.`fstatus` AS `fstatus`,
        t.`del` AS `del`,
        t.`jstatus` AS `jstatus`,
        t.`tstatus` AS `tstatus`,
        t.`sortNo` AS `sortNo`,
        t.`id` AS `rid`,
        t.`zAmount` AS `zAmount`,
        t.`yAmount` AS `yAmount`,
        t.`sdAmount` AS `sdAmount`,
        t.`wxAmount` AS `wxAmount`,
        t.`kdCosts` AS `kdCosts`,
        t.`dCosts` AS `dCosts`,
        t.`sCosts` AS `sCosts`,
        t.`wyCosts` AS `wyCosts`,
        t.`tcCosts` AS `tcCosts`,
        t.`rqCosts` AS `rqCosts`,
        t.`firstAmount` AS `firstAmount`,
        t.`fAmount` AS `fAmount`,
        t.`creartDate` AS `creartDate`,
        t.`deposit` AS `deposit`,
        t.`otherDeposit` AS `otherDeposit`,
        t.`payTime` AS `payTime`,
        t.`depositMethod` AS `depositMethod`,
        t.`payDay` AS `payDay`,
        t.`longType` AS `longType`,
        t.`x` as `x`,
        t.`y` as `y`,
        t.`areaName` as areaName,
        t.`otheryjId` as otheryjId,
        t.`otherfyId` as otherfyId,
        t.`bountyId` as bountyId
        FROM
        v_list_rent_addr t
        WHERE 1= 1
        <if test="fid != null">
            AND t.id = #{fid}
        </if>

        ORDER BY t.sortNo, t.createDate desc
    </select>
</mapper>
