<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>安义门窗网-企业</title>
    <meta name="Keywords" content="安义门窗网-免费发布门窗信息"/>
    <meta name="Description"
          content="安义门窗网-免费发布门窗信息"/>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <link href="/static/css/Jquery-ui.css" type="text/css" rel="stylesheet"/>
    <link href="/static/css/Index.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/baicons2.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <!--[if IE 7]>
    <style>
        .nav-tabs .nav-content .nav-item.home a, .nav-tabs .nav-content .nav-item.normal:hover {
            color: #fff;
        }

        .nav-items .nav-content {
            height: 100px;
        }

        .nav-items .nav-content .nav-item {
            display: block;
            float: left;
        }

        .nav-items .fabu-new {
            width: 230px;
        }

        .container .section-box .content li {
            display: block;
            list-style: none;
        }

        .jl-footer .footer-rule UL.right-rules LI {
            display: block;
            float: left;
            max-height: 225px;
            overflow: hidden;
        }

        .div-4 {
            width: 25%;
            height: 150px;
            padding: 10px;
            display: inline-block;
            float: left;
        }

    </style>
    <![end if]-->
    <link href="/static/css/public.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
    <style>
        .nav-tabs .nav-content .nav-item.home a, .nav-tabs .nav-content .nav-item.normal:hover {
            color: #fff;
        }

        .nav-items .nav-content {
            height: 100px;
        }

        .nav-items .nav-content .nav-item {
            display: block;
            float: left;
        }

        .nav-items .fabu-new {
            width: 230px;
        }

        .container .section-box .content li {
            display: block;
            list-style: none;
        }

        .jl-footer .footer-rule UL.right-rules LI {
            display: block;
            float: left;
            max-height: 225px;
            overflow: hidden;
        }

    </style>
    <![end if]-->
    <style type="text/css">
        li > a {
            color: #333333;
        }

        .row-div {
            height: auto;
            width: 80%;
            margin: 0 auto;
            margin-top: 15px;
            padding: 0 auto;
        }

        .p-tittle {
            color: #666666;
            font-size: 26px;
        }

        .row-div-li {
            height: 100px;
            padding: 0px;
            margin: 0 auto;
        }
        .go {
            margin-top: 17px;
            float: right;
            font-size: 12px;
            color: #48c964;
        }

        .model-btn {
            min-width: 100%;
            text-align: center;
            background: #48c964;
            border: none;
            color: #ffffff;
            padding: 7px;
            margin-bottom: 10px;
        }

        .model-btn:hover {
            background-color: #1fc91b;
        }

    </style>
    <link href="/static/css/public.css" rel="stylesheet" type="text/css"/>
</head>

<body class="homepage" ng-app="myCompany" ng-controller="myCompanyCtrl" ng-init="init()">

<button data-target="#importModel" id="showModel" data-toggle="modal" hidden>点击登录</button>
<button data-target="#selectModel" id="queryModel" data-toggle="modal" hidden>选择发布</button>

<header>
    <div class="tool-bar-ctn">
        <div class="toolbar">
            <div class="toolbar-link">
                <a class="hot-link" id="city"></a>
            </div>
            <ul id="user-tools" class="navbar-nav">
                <li ng-show="user == null">
                    <a data-target="#importModel" rel="nofollow" data-toggle="modal" data-type="login"
                       class="no-padding">登录</a>/
                    <a href="/register" rel="nofollow" data-toggle="userAuth" data-type="reg"
                       class="no-padding">注册</a>
                </li>

                <li class="dropdown" ng-show="user != null">
                    <a href="javascript:;" target="_blank">个人中心<i class="icon-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a target='_blank' rel="nofollow" title="尚未开发" href="/static/tx/me/index.html">个人账户</a></li>
                        <li><a target='_blank' rel="nofollow" title="尚未开发">设置</a></li>
                        <li><a target='_blank' rel="nofollow" href="/admin">后台入口</a></li>
                        <li><a ng-click="outlogin()" target='_blank' rel="nofollow">注销</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" target="_blank">网站导航<i class="icon-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a target='_blank' rel="nofollow" href="#djg">加工/安装</a></li>
                        <li><a target='_blank' rel="nofollow" href="#clps">材料/配送</a></li>
                        <li><a target='_blank' rel="nofollow" href="#cz">出租/转让</a></li>
                    </ul>
                </li>
                <li style="display: none" class="js-separator"></li>
                <li class="dropdown">
                    <a href="javascript:;" target="_blank">帮助中心<i class="icon-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a target='_blank' rel="nofollow" title="尚未开发">密码找回</a></li>
                        <li><a href="/about" target='_blank' rel="nofollow">网站开发</a></li>
                        <li><a href="/about" target='_blank' rel="nofollow">软件定制</a>
                        <li><a href="tencent://message/?uin=1193227758&amp;Site=www.qu114.com&amp;Menu=yes"
                               target='_blank' rel="nofollow">联系我们</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="top-banner full-banner"></div>
        <div class="location" style="height: 115px;">
            <span class="breadcrumb" style="background-color: white;">
                <a class="primary-logo">
                    <img src="/static/image/anny_logo.png" alt="安义分类信息网"
                         width="300" height="200" style="margin-top:-72px;"/>
                    </a>
            </span>
            <div class="head-search">
                <div class="search" style=" margin-top: 15px; ">
                    <input id="keyword" placeholder="请输入类别名称或关键字" ng-model="searchVal" name="query"
                           class="input search-query ui-autocomplete-input"
                           autocomplete="off" style="margin-left: auto; font-size:14px;"/>
                    <input type="button" name="button" class="frontpage-search-trigger search-trigger" value="搜  索"
                           ng-click="search()" style="margin-left: 401px; margin-top: -40px;"
                           ng-keydown="enterEvent($event)" id="search-btn"/>
                    <input type="hidden" id="hid_type" value="shenghuo"/>
                    <input type="hidden" id="hid_address" value="zhejiang"/>
                </div>
            </div>
            <div class="pull-right"><a ng-click="sendMsg();" rel="nofollow" class="post"
                                       target="_blank">免费发布信息</a></div>
        </div>
    </div>
</header>

<section class="nav-tabs" style="border-bottom: 10px solid #48c964;">
    <ul class="nav-content clearfix">
        <li class="nav-item"><a href="/home" target="_blank">首页</a></li>
        <li class="nav-item home"><a href="/company"  style="color: white;" target="_blank">企业名录</a></li>
        <li class="nav-item"><a href="#bxg" target="_blank">不锈钢厂家</a></li>
        <li class="nav-item"><a href="#dql" target="_blank">断桥铝厂家</a></li>
        <li class="nav-item" title="尚未对外开放"><a href="#bl" target="_blank">玻璃厂家</a></li>
        <li class="nav-item"><a href="#pjs">配件厂家</a></li>
        <li class="nav-item"><a target="_blank" href="/static/html/ay/anyi.html">门窗之乡</a></li>
        <li class="nav-item"><a target="_blank" href="/video">VIP解析</a></li>
        <li class="nav-item"><a target="_blank" href="/about">关于我们</a></li>
    </ul>
</section>

<div class="row" style="height: 350px; width: 80%; margin: 0 auto; margin-top: 15px; padding: 0 auto; min-width: 1200px;">
    <iframe src="/static/tx/comeny/index.html" scrolling="no" style="min-width: 1200px; height: 800px;
    border: none;"></iframe>
</div>
<!--<div class="row" style="height: 300px; width: 80%; margin: 0 auto; margin-top: 15px; padding: 0 auto; max-width: 1200px; border: #0e6251 1px solid;">-->
    <!--<iframe src="/static/tx/lunbo/index.html" scrolling="no" style="max-width: 1200px; height: 300px;-->
    <!--border: none;"></iframe>-->
<!--</div>-->

<div class="row row-div" style="min-width: 1200px;">
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-12 row-div-li">
            <img src="/static/gif/cl.gif"
                 width="100%" height="100">
        </div>
    </div>
</div>
<div class="row row-div" style="min-width: 1200px;">
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-12 row-div-li">
            <img src="/static/gif/cl.gif"
                 width="100%" height="100">
        </div>
    </div>
</div>
<div class="row row-div" id="bxg" style="min-width: 1200px;">
    <p align="center" class="p-tittle">不锈钢厂家<a class="more-form go"
                                               ng-click="goGroup('加工')">了解更多>></a>
    </p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li" style="">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" id="dql" style="min-width: 1200px;">
    <p align="center" class="p-tittle">断桥铝厂家<a class="more-form go"
                                               ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" id="bl" style="min-width: 1200px;">
    <p align="center" class="p-tittle">玻璃厂家<a class="more-form go"
                                              ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" id="pjs" style="min-width: 1200px;">
    <p align="center" class="p-tittle">配件厂家<a class="more-form go"
                                              ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" id="qy" style="min-width: 1200px;">
    <p align="center" class="p-tittle">最新入驻企业<a class="more-form go"
                                                ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" style="min-width: 1200px;">
    <p align="center" class="p-tittle">实力派企业<a class="more-form go"
                                               ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" style="min-width: 1200px;">
    <p align="center" class="p-tittle">影响力企业<a class="more-form go"
                                               ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-3 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" style="min-width: 1200px;">
    <p align="center" class="p-tittle">著名品牌<a class="more-form go"
                                              ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
        <div class="col-lg-2 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row row-div" style="min-width: 1200px;">
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-12 row-div-li">
            <img src="/static/gif/cl.gif"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>

<div class="row row-div" style=" padding-bottom: 10px; min-width: 1200px;" >
    <p align="center" class="p-tittle">其他品牌<a class="more-form go"
                                              ng-click="goGroup('加工')">了解更多>></a></p>
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
        <div class="col-lg-1 row-div-li">
            <img src="/static/gif/c1.jpg"
                 width="100%" height="90">
        </div>
    </div>
</div>
<div class="row row-div" style="min-width: 1200px;">
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-12 row-div-li">
            <img src="/static/gif/cl.gif"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>
<div class="row" style="height: 500px; width: 80%; margin: 0 auto; margin-top: 15px; padding: 0 auto; min-width: 1200px;">
    <p>中国地图</p>
    <iframe src="/static/tx/map/map.html" scrolling="no" style="min-width: 1200px; height: 500px;
    border: none;"></iframe>
</div>

<div class="row row-div" style="min-width: 1200px;">
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-12 row-div-li">
            <img src="/static/gif/cl.gif"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>

<div class="row row-div" style="min-width: 1200px;">
    <div class="col-lg-12" style="height: 600px;">
        <div class="col-lg-3 row-div-li">
            <ol style="font-size: 22px; margin-top: 20%; position: absolute;">
                <li>第16届大沥凤池铝门窗建筑装饰博览会揭幕</li>
                <li>10~11月门窗企业招商会独家预告丨招商汇</li>
                <li>新品预告|展志天华木门2020新品即将正式发布</li>
                <li>加盟福利来袭 佛山优质门窗品牌聚焦</li>
                <li>苏宁易购：前三季度预计归属股东净利润116.39亿元</li>
                <li>聚焦|阿里要做大家居行业的“菜鸟”？</li>
                <li>建材老商加盟伊盾门窗 如何月销量破百万？</li>
            </ol>
        </div>
        <div class="col-lg-6 row-div-li">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">
                    门窗行情</a></li>
                <li><a href="#ios" data-toggle="tab">铝材行情</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <p></p>
                </div>
                <div class="tab-pane fade" id="ios">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 row-div-li">

        </div>
    </div>
</div>

<div class="row row-div" style="min-width: 1200px;">
    <div class="col-lg-12" style="padding: 0px;">
        <div class="col-lg-12 row-div-li">
            <img src="/static/gif/cl.gif"
                 width="100%" height="100" alt="">
        </div>
    </div>
</div>

<div id="sidebar-buttons">
    <a id="Qu114Icon">
        <i class="icon-weixin"></i></a>
    <div id="href" class="qrcode-login-dialog in fade" style="display: none;">
        <img src="/static/image/wechatqrc.png" class="display-img">
        <img src="/static/image/wechatqrc.png" class="display-img">
    </div>
    <div class="IconHover">
        <a href="tencent://message/?uin=1193227758&amp;Site=www.qu114.com&amp;Menu=yes"
           style="color:#cc0000;font-size:12px" target="_blank" class="online-chat">
            在线客服
        </a>
        <i class="icon-kefu" style="color: #48c964;"></i>
    </div>
    <div class="IconHover icon-arrow-up ">
        <a id="IconHover" style="color:#48c964;font-size:12px">返回顶部 </a>
    </div>

</div>

<div style="width: 100px; height: 100px; border-radius: 50%; border: black 3px solid;
 position: fixed; margin-top: 20px; z-index: 10;">

</div>

<script type="text/javascript" src="/static/js/jl-footer.js"></script>
<script type='text/javascript' src='/static/js/jquery-1.8.0.js'></script>
<script type='text/javascript' src='/static/js/jquery.min.js'></script>
<script type='text/javascript' src='/static/js/bootstrap.min.js'></script>
<script src='/static/anguarl/angular.min.js'></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="/static/html/anguarl/public.js"></script>
<script src="/static/html/anguarl/company.js"></script>
<script>
    $(function () {
        $("#Qu114Icon").hover(function () {
            var href = $(this).attr('#href');
            $('#href').css('display', 'block');
        }, function () {
            $('#href').css('display', 'none');
        });
    });
    $('a').hover(function () {
        $(this).css({'cursor': 'pointer'});
    });

    $('.icon').mouseover(function () {
        $(this).attr('fill', 'red');
    });
</script>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="e" id="importModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" padding-bottom: 20px; align-self: center;
            text-align: center;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align: center;">登录</h4>
            </div>
            <div class="modal-body" style="padding: 30px;">
                <p>
                    <input type="text" style="min-width: 300px;" class="form-control"
                           placeholder="请输入账号/手机号码/邮箱" ng-model="account"/>
                </p>
                <br>
                <p>
                    <input type="password" style="min-width: 300px;" class="form-control"
                           placeholder="请输入密码" ng-model="password"/>
                </p>
            </div>
            <div class="modal-footer" style="margin: 0 auto; text-align: center;">
                <button style="min-width: 90%; text-align: center; background: #48c964; border: none;
                    color: #ffffff; padding: 5px;" ng-click="login();">{{stauts}}
                </button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="e" id="selectModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" padding-bottom: 20px; align-self: center;
            text-align: center;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align: center;">选择发布信息类型</h4>
            </div>
            <div class="modal-body" style="padding: 30px; padding-bottom: 15px;">
                <button class="model-btn" ng-click="sendAz();">发布加工/点工/安装信息</button>
                <button class="model-btn" ng-click="sendPs();">发布材料配送信息</button>
                <button class="model-btn" ng-click="sendCz();">发布出租/转让信息</button>
                <button class="model-btn" ng-click="sendSb();">发布加工设备</button>
                <!--<button class="model-btn" disabled>取消</button>-->
            </div>
        </div>
    </div>
</div>
<!-- 下雨 -->
</body>
</html>


