<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <title>安义门窗网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="安义门窗网-免费发布信息"/>
    <meta name="Description" content="安义门窗网-免费发布信息"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/fileinput.min.css">
    <!--<link rel="shortcut icon" href="/static/ico/favicon%2064.ico"/>-->
    <link href="/static/css/dropzone.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/dropify.min.css" rel="stylesheet" type="text/css"/>
    <!-- App css -->
    <link href="/static/ui/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/ui/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/ui/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/ui/css/angular-toastr.min.css" rel="stylesheet">

</head>
<body ng-app="myRel" ng-controller="relCtrl" style="min-width: 1200px;" ng-init="init()">
<div style="width: 80%; height: 100px; margin-bottom: 10px; margin: 0 auto;">
    <a href="/home">
        <img src="/static/image/anny_logo.png" alt="" style="position:absolute; z-index: 100;
        margin-top: -90px;">
    </a>
</div>
<div class="position-absolute" style="right: 270px; top: 70px;">
    你的IP&nbsp;:&nbsp;<a id="userIp"></a>
    &nbsp;&nbsp;
    当前城市&nbsp;:&nbsp;<a id="city"></a>
</div>
<div class="position-absolute" ng-show="user == null" style="right: 170px; top: 70px;">
    <a href="/login">登录</a>
    &nbsp;&nbsp;
    <a href="/register">注册</a>
</div>

<div class="position-absolute" ng-show="user != null" style="right: 170px; top: 70px;">
    <a href="/login">注销</a>
</div>

<p style="height: 10px; width: 100%; background-color: #48c964;"></p>

<div class="content-page" style="margin: 0 auto; text-align: center; padding-right: 10%;
        padding-left: 10%; min-width: 1200px;">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title font-22">填写信息</h4>
                            <br>
                            <div>
                                <div id="progressbarwizard">

                                    <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-3">
                                        <li class="nav-item">
                                            <a href="#account-2" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                <span class="d-none d-sm-inline">服务</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#profile-tab-2" data-toggle="tab"
                                               class="nav-link rounded-0 pt-2 pb-2 active">
                                                <span class="d-none d-sm-inline">信息</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#finish-2" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                <span class="d-none d-sm-inline">发布</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content b-0 mb-0" name="myForm" novalidate>

                                        <div id="bar" class="progress mb-3" style="height: 7px;">
                                            <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"
                                                 style="width: 66.6667%;"></div>
                                        </div>

                                        <div class="tab-pane" id="account-2">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="headline">标题：</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="headline"
                                                                   name="headline" ng-model="entity.head_line" value=""
                                                                   placeholder="请输入标题" required/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"> 服务类别：</label>
                                                        <div class="col-md-9" style="padding-left: 20px;">
                                                            <select data-plugin="customselect" id="entity.type"
                                                                    ng-model="entity.type" required
                                                                    class="form-control">
                                                                <option ng-repeat="item in typeItem" selected
                                                                        value="{{item}}">{{item}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"> 服务类型：</label>
                                                        <div class="col-md-9" style="padding-left: 20px;">
                                                            <div class="checkbox checkbox-success form-check-inline float-left"
                                                                 ng-repeat="(index,item) in serviceItem">
                                                                <input type="checkbox" id="inlineCheckbox{{index}}"
                                                                       value="{{item}}" name="ser">
                                                                <label for="inlineCheckbox{{index}}">{{item}}</label>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"> 服务区域：</label>
                                                        <div class="col-md-9" style="padding-left: 20px;">
                                                            <div class="checkbox checkbox-success form-check-inline float-left"
                                                                 ng-repeat="(index,item) in ares">
                                                                <input type="checkbox" id="ares{{index}}"
                                                                       value="{{item.name}}" name="fw">
                                                                <label for="ares{{index}}">{{item.name}}</label>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="user_qq">QQ：</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="user_qq"
                                                                   name="user_qq" ng-model="entity.user_qq" value=""
                                                                   placeholder="请输入您的QQ"></input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="user_wx">微信：</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="user_wx"
                                                                   name="user_wx" ng-model="entity.user_wx" value=""
                                                                   placeholder="请输入您的微信"></input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="phone">手机：</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="phone"
                                                                   name="phone" ng-model="entity.phone" value=""
                                                                   placeholder="请输入您的手机" required></input>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="link">联系人：</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="link"
                                                                   name="link" ng-model="entity.link" value=""
                                                                   placeholder="请输入联系人" required/>
                                                        </div>
                                                    </div>

                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        </div>

                                        <div class="tab-pane active" id="profile-tab-2">
                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="company_name">公司名称：</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="company_name"
                                                                   name="company_name" ng-model="entity.company_name"
                                                                   value=""
                                                                   placeholder="请输入公司名称" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label">
                                                            公司地址</label>
                                                        <div class="col-md-3">
                                                            <select data-plugin="customselect" id="procode"
                                                                    ng-model="entity.procode" required
                                                                    ng-click="selectPrv(entity.procode)"
                                                                    class="form-control d-inline-block float-left">
                                                                <option ng-repeat="item in prvList" value="{{item.id}}" >
                                                                    {{item.name}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <select data-plugin="customselect" id="entity.citycode"
                                                                    ng-model="entity.citycode" required
                                                                    ng-click="selectCity(entity.citycode)"
                                                                    class="form-control d-inline-block float-left">
                                                                <option ng-repeat="item in cityList"
                                                                        value="{{item.id}}">{{item.name}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <select data-plugin="customselect" id="countycode"
                                                                    ng-model="entity.countycode" required
                                                                    class="form-control d-inline-block float-left">
                                                                <option ng-repeat="item in disList" value="{{item.id}}">
                                                                    {{item.name}}
                                                                </option>
                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="address">详细地址</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="address" name="address"
                                                                   ng-model="entity.address" required
                                                                   class="form-control" placeholder="请输入详细地址..."/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="video_url">视频链接</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="video_url" name="video_url"
                                                                   ng-model="entity.video_url"
                                                                   class="form-control" placeholder="请输入视频链接"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label"
                                                               for="details">服务描述：</label>
                                                        <div class="col-md-9">
                                                            <textarea type="text" rows="5" class="form-control"
                                                                      id="details" required
                                                                      name="details" value="" ng-model="entity.details"
                                                                      placeholder="请输入服务详情..."></textarea>
                                                        </div>
                                                    </div>

                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        </div>

                                        <div class="tab-pane" id="finish-2">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label">广告图片</label>
                                                        <div class="col-md-9">
                                                            <input type="file" id="gg_src" name="gg_src" class="dropify"
                                                                   data-max-file-size="1M" enctype="multipart/form-data"
                                                                   accept="image/*">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label">作品图片</label>
                                                        <div class="col-md-3">
                                                            <input type="file" name="z_img" class="dropify"
                                                                   data-max-file-size="1M"
                                                                   enctype="multipart/form-data" accept="image/*">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="file" name="z_img" class="dropify"
                                                                   data-max-file-size="1M"
                                                                   enctype="multipart/form-data" accept="image/*">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="file" name="z_img" class="dropify"
                                                                   data-max-file-size="1M"
                                                                   enctype="multipart/form-data" accept="image/*">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row mb-3">
                                                        <label class="col-md-3 col-form-label">案例图片</label>
                                                        <div class="col-md-3">
                                                            <input type="file" name="a_img" class="dropify"
                                                                   data-max-file-size="1M"
                                                                   enctype="multipart/form-data" accept="image/*">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="file" name="a_img" class="dropify"
                                                                   data-max-file-size="1M"
                                                                   enctype="multipart/form-data" accept="image/*">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="file" name="a_img" class="dropify"
                                                                   data-max-file-size="1M"
                                                                   enctype="multipart/form-data" accept="image/*">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div> <!-- end row -->
                                        </div>
                                        <ul class="list-inline mb-0 wizard">
                                            <li class="previous list-inline-item float-left">
                                                <a ng-click="prve()" ng-show="show_num_next > 0"
                                                   class="btn btn-secondary border-0 text-white"
                                                   style="background: #48c964;">{{info.prv}}</a>
                                            </li>
                                            <li class="next list-inline-item float-right">
                                                <a ng-click="next()"
                                                   class="btn btn-secondary border-0 text-white"
                                                   style="background: #48c964;">{{info.next}}</a>
                                            </li>
                                        </ul>
                                    </div> <!-- tab-content -->
                                </div> <!-- end #progressbarwizard-->
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
        </div>
    </div> <!-- content -->
    <div class="container">
        <div id="footer">Copyright ©
            <script type="text/javascript">document.write(new Date().getFullYear());</script>
            qu114.com All Rights Reserved.&nbsp;安义门窗信息网
        </div>
    </div>
</div>


<script type="text/javascript">var city_code = "bj";
var search_type = "shenghuo";</script>
<!--<script src="http://pic.qu114.com/post/20180312/js/Base/jquery-1[1].3.1.min.js" type="text/javascript"></script>-->
<!--<script src="http://pic.qu114.com/post/20180312/js/searchalias.js" type="text/javascript"></script>-->

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?007e5a624e8ea29c6fcaafa0bdfd2a4c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- Vendor js -->
<script src="/static/ui/js/vendor.min.js"></script>


<script src="/static/js/dropify.min.js"></script>
<script src="/static/js/dropzone.min.js"></script>
<script src="/static/js/form-fileuploads.init.js"></script>

<!-- App js -->
<script src="/static/ui/js/app.min.js"></script>


<!-- Plugins js-->
<script src="/static/js/wizard.init.js"></script>
<!-- Init js-->
<script src="/static/js/wizard.min.js"></script>
<script src="/static/js/fileinput.min.js"></script>
<script src="/static/js/file-upload-zh.js"></script>
<script src="/static/anguarl/angular.min.js"></script>
<!--<script src="https://cdn.bootcss.com/angular-toastr/2.1.1/angular-toastr.tpls.min.js" type="text/javascript"/>-->
<!--消息提示-->
<script type='text/javascript' src='/static/js/bootstrap-notify.min.js'></script>
<script type='text/javascript' src='/static/js/lightyear.js'></script>
<script type='text/javascript' src='/static/js/main.min.js'></script>

<link href="/static/ui/js/angular-toastr.min.js" rel="stylesheet">
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="/static/html/anguarl/public.js"></script>
<script src="/static/html/anguarl/release.js"></script>

</body>
</html>